body {
    background-color: darkslateblue;
}

div {
    border: 2px solid black;
    align-items: flex-end
}

header {
    background-color: blue;
    border: 0.5px solid black;
    box-shadow: 2px lightblue;
    text-align: center;
}

h1 {
    text-shadow: 5px 10px 5px skyblue;
    text-align: center;
    color: aqua
}

nav {
    background-color: white;
    text-align: center;
}

main {
    border: 2px solid darkblue;
}

section {
    image-rendering: auto;
    text-align: center;
}

article {
    background-color: blue;
    border: 0.5px solid black;
    box-shadow: 2px lightblue;
    text-align: center;
}

footer {
    border: 0.5px solid black;
    background-color: rgb(54, 33, 87);
    text-align: center;
}

li {
    border: 0.5px solid black;
    background-color: white;
    color: lightblue;
}

p {
    color: aqua
}

label {
    color: lightblue;
}

.fa-brands {
    float: right;
}

.fa-brands:hover {
    background-color: black;
    color: white;
    font: bold;
}

.homebutton {
    border: 3px;
    background-color: aliceblue;
    box-shadow: 2px 2px 2px blue;
    cursor: pointer;
}

.homebutton:hover {
    background-color: black;
    color: white;
    font: bold;
}

.aboutmebutton {
    border: 3px;
    background-color: aliceblue;
    box-shadow: 2px 2px 2px blue;
    cursor: pointer;
}

.aboutmebutton:hover {
    background-color: black;
    color: white;
    font: bold;
}

.education {
    background-color: aliceblue;
    box-shadow: 2px 5px 2px blue;
    cursor: pointer;
}

.education:hover {
    background-color: black;
    color: white;
    font: bold;
}

.skillsbutton {
    background-color: aliceblue;
    box-shadow: 2px 5px 2px blue;
    cursor: pointer
}

.skillsbutton:hover {
    background-color: black;
    color: white;
    font: bold;
}

.hobbiesbutton {
    background-color: aliceblue;
    box-shadow: 2px 5px 2px blue;
    cursor: pointer
}

.hobbiesbutton:hover {
    background-color: black;
    color: white;
    font: bold;
}

.contactbutton {
    background-color: aliceblue;
    box-shadow: 2px 5px 2px blue;
    cursor: pointer
}

.contactbutton:hover {
    background-color: black;
    color: white;
    font: bold;
}

* {
    box-sizing: border-box;
}

div {
    border: 5px solid black;
}

input[type=text],
select,
textarea {
    text-align: center;
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
}

input[type=submit] {
    text-align: center;
    background-color: #04AA6D;
    color: white;
    border: 2px solid black;
    border-radius: 4px;
    cursor: pointer;
}

.container {
    margin: auto;
}