body {
    background-image: linear-gradient(to right top,
            #6d6bd1,
            #6e77d7,
            #7083dc,
            #758fe0,
            #7b9ae3,
            #7294e4,
            #688fe6,
            #5e89e7,
            #4371e4,
            #2c57de,
            #1f3bd5,
            #2111c9);
}

header {
    background-color: blue;
    border: 0.5px solid black;
    box-shadow: 2px lightblue;
    text-align: left;
}

h1 {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 25px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: aqua;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    text-shadow: 1px 1px 1px blue;
}

h2 {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 25px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: aqua;
    font-weight: normal;
    text-decoration: none;
    font-style: bold;
    font-variant: normal;
    text-transform: none;
    text-shadow: 1px 1px 1px blue;
}

div {
    float: left;
    border: 4px solid lightblue;
    background: rgb(54, 33, 87)
}

p {
    font-family: Verdana, Geneva, sans-serif;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: aqua;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    text-shadow: 1px 1px 1px blue;
}

b {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: aqua;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    text-shadow: 1px 1px 1px blue;
}

nav {
    background-color: white;
    text-align: center;
    height: 30px;
}

main {
    border: 2px solid darkblue;
}

section {
    image-rendering: auto;
    text-align: center;
}

article {
    background-color: blue;
    border: 0.5px solid black;
    box-shadow: 2px lightblue;
    text-align: center;
}

footer {
    border: 0.5px solid black;
    background-color: rgb(54, 33, 87);
    text-align: center;
}

li {
    border: 0.5px solid black;
    background-color: white;
}

.fa-brands {
    float: right;
}

.fa-brands:hover {
    background-color: black;
    color: white;
    font: bold;
}

.homebutton {
    border: 3px;
    background-color: aliceblue;
    box-shadow: 2px 2px 2px blue;
    cursor: pointer;
}

.homebutton:hover {
    background-color: black;
    color: white;
    font: bold;
}

.aboutmebutton {
    border: 3px;
    background-color: aliceblue;
    box-shadow: 2px 2px 2px blue;
    cursor: pointer;
}

.aboutmebutton:hover {
    background-color: black;
    color: white;
    font: bold;
}

.education {
    background-color: aliceblue;
    box-shadow: 2px 5px 2px blue;
    cursor: pointer;
}

.education:hover {
    background-color: black;
    color: white;
    font: bold;
}

.skillsbutton {
    background-color: aliceblue;
    box-shadow: 2px 5px 2px blue;
    cursor: pointer
}

.skillsbutton:hover {
    background-color: black;
    color: white;
    font: bold;
}

.hobbiesbutton {
    background-color: aliceblue;
    box-shadow: 2px 5px 2px blue;
    cursor: pointer
}

.hobbiesbutton:hover {
    background-color: black;
    color: white;
    font: bold;
}

.contactbutton {
    background-color: aliceblue;
    box-shadow: 2px 5px 2px blue;
    cursor: pointer
}

.contactbutton:hover {
    background-color: black;
    color: white;
    font: bold;
}