body {
    background-image: linear-gradient(to right top,
            #6d6bd1,
            #6e77d7,
            #7083dc,
            #758fe0,
            #7b9ae3,
            #7294e4,
            #688fe6,
            #5e89e7,
            #4371e4,
            #2c57de,
            #1f3bd5,
            #2111c9);
    font-family: Verdana;
    font-size: 1.2em;
}

header {
    border: 0.5px solid black;
    box-shadow: 2px lightblue;
    text-align: left;
}

h1 {
    text-shadow: 2px 2px 1px skyblue;
    text-align: center;
    color: aqua;
}

h2 {
    text-shadow: 0px 2px 2px skyblue;
    text-align: center;
    color: aqua;
}

div {
    float: left;
    border: 4px solid lightblue;
    background: rgb(54, 33, 87);
}

p {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

nav {
    background-color: white;
    text-align: center;
    height: 100px;
    border: 1px solid black;
    box-shadow: 2px 2px 1px skyblue;
}

main {
    border: 2px solid black;
}

section {
    image-rendering: auto;
    text-align: center;
    border: 2px solid black;
    box-shadow: 2px 2px 1px skyblue;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

article {
    border: 0.5px solid black;
    text-align: center;
}

footer {
    border: 0.5px solid black;
    text-align: center;
}

li {
    border: 0.5px solid black;
    background-color: white;
}

.fa-brands {
    float: right;
}

.fa-brands:hover {
    background-color: black;
    color: white;
    font: bold;
}

.homebutton {
    border: 3px;
    background-color: aliceblue;
    box-shadow: 2px 2px 2px blue;
    cursor: pointer;
}

.homebutton:hover {
    background-color: black;
    color: white;
    font: bold;
}

.aboutmebutton {
    border: 3px;
    background-color: aliceblue;
    box-shadow: 2px 2px 2px blue;
    cursor: pointer;
}

.aboutmebutton:hover {
    background-color: black;
    color: white;
    font: bold;
}

.education {
    background-color: aliceblue;
    box-shadow: 2px 5px 2px blue;
    cursor: pointer;
}

.education:hover {
    background-color: black;
    color: white;
    font: bold;
}

.skillsbutton {
    background-color: aliceblue;
    box-shadow: 2px 5px 2px blue;
    cursor: pointer;
}

.skillsbutton:hover {
    background-color: black;
    color: white;
    font: bold;
}

.hobbiesbutton {
    background-color: aliceblue;
    box-shadow: 2px 5px 2px blue;
    cursor: pointer;
}

.hobbiesbutton:hover {
    background-color: black;
    color: white;
    font: bold;
}

.contactbutton {
    background-color: aliceblue;
    box-shadow: 2px 5px 2px blue;
    cursor: pointer;
}

.contactbutton:hover {
    background-color: black;
    color: white;
    font: bold;
}